@using CSM.Common.Resources
@model CSM.Web.Models.TypeViewModel
@{
    ViewBag.Title = "Search Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainMenu
{
    @Html.Action("MainMenu", "MenuNavigator", new { selectedMenu = CSM.Entity.MenuCode.Master })
}
@section Breadcrumb {
    @*<strong class="font-blue">Type &rsaquo;&rsaquo;</strong>*@
    <strong class="font-blue"> @Html.ActionLink(Resource.Lbl_Master, "Index", "Configuration", null, new { @class = "font-blue" }) </strong>
    <strong class="font-green-jungle">&rsaquo;&rsaquo; Search Type</strong>
}

<div class="form-horizontal">
    <h3>Search Type</h3>
    <hr class="dotted-line"/>
    <div class="row margin-top-15">
        <div class="form-group">
            <div class="col-sm-3">
                <label class="control-label">Type :</label>
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control input-sm" id="txtSearchTypeName"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label class="control-label">Type Code:</label>
            </div>
            <div class="col-sm-9">
                <input type="text" id="txtSearchTypeCode" class="form-control input-sm " maxlength="15"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label class="control-label">Status:</label>
            </div>
            <div class="col-sm-9">
                <select id="selectStatus" class="form-control input-sm">
                    <option value="" selected>-- กรุณาระบุ --</option>
                    <option value="all">ทั้งหมด</option>
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
        </div>
    </div>
    <hr class="dashed-line"/>
    <div class="row">
        <form action="@Url.Action("Create", "Type")" method="post">
            <button id="btnCreate" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> New Type</button>
            <div class="pull-right">
                <span id="btnSearch" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Search</span>
                <span id="btnClearForm" class="btn btn-sm btn-default"><i class="fa fa-file-o"></i> Clear</span>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
    <hr class="dashed-line"/>
    <div class="clear"></div>

    <div id="dvSearchType">
        @if(Model.TypeList != null){
            Html.RenderPartial("~/Views/Type/_TypeList.cshtml", Model);
        }
    </div>
</div>
<div id="hdnFrm">
</div>

@Html.Partial("_Antiforgery")

@section masterjs
{
    <style type="text/css">
        .input-page {
            width: 30px;
        }
        .btnEdit {
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        var searchFilter;
        var successFilter;

        $jq(document).ready(function () {
            initializeSearchFilter();
            initializePaging();

            $jq('#btnSearch').click(onBtnSearchClick);
            $jq("#btnClearForm").click(onBtnClearClick);
            //$jq("#txtSearchTypeCode").keydown(onCodeToggleCheckNum);
        });

        /*function onCodeToggleCheckNum(e) {
            if ($jq.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                return;
            }
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        }*/

        function editType(typeId) {
            $jq('#hdnFrm').html('<form action="@Url.Action("Edit","Type")" name="frmEdit" id="frmEdit" method="post" style="display:none;">@Html.AntiForgeryToken()<input type="text" name="TypeId" value="' + typeId + '" /></form>');
            document.forms['frmEdit'].submit();
        }

        function onBtnSearchClick() {

            var search = $jq("#txtSearchTypeName").val();
            var code = $jq("#txtSearchTypeCode").val();
            var status = $jq("#selectStatus").val();

            if (search.trim().length === 0 && status.length === 0 && code.length === 0) {
                var warningMsg = '@Resource.Msg_EnteredAtLeastOneCriteria';
                doModal("dvAlertMsg", "Message Dialog", warningMsg, "", "");
                return false;
            }

            searchFilter.TypeName = search;
            searchFilter.TypeCode = code;
            searchFilter.Status = status;
            loadTypeList();
        }
        function onBtnClearClick() {
            $jq("#txtSearchTypeName").val("");
            $jq("#selectStatus").val("");
            searchFilter.TypeName = "";

            $jq("#dvSearchType").html("");
        }

        function loadTypeList() {
            $jq.ajax({
                    url: "@Url.Action("SearchTypeList", "Type")",
                    method: "POST",
                    data: searchFilter,
                    beforeSend: function() { $jq("#dvLoading").show(); },
                    complete: function() { $jq("#dvLoading").hide(); }
                })
                .done(function (result) {
                    if (isLoginForm(result)) {
                        location.replace('@FormsAuthentication.LoginUrl');
                        return;
                    }
                    if (result.Valid == null) {
                        $jq("#dvSearchType").html('');
                        successFilter = searchFilter;
                        $jq("#dvSearchType").html(result);
                        initializePaging();
                    } else {
                        showServerErrors(result);
                    }
                })
                .fail(function() {
                    if (xhr.status === 401) {
                        location.replace('@FormsAuthentication.LoginUrl');
                        return;
                    } else {
                        var errorMsg = String.format('<strong>Error:</strong>&nbsp;{0}', '@CSM.Common.Resources.Resource.Error_System');
                        doModal('dvAlertMsg', 'Message Dialog', errorMsg, '', '');
                    }
                });
        }

        function initializeSearchFilter() {
            searchFilter = {
                TypeName: $jq("#txtSearchTypeName").val(),
                TypeCode: $jq("#txtSearchTypeCode").val(),
                Status: $jq("#selectStatus").val(),
                PageNo: '@Model.SearchFilter.PageNo',
                PageSize: '@Model.SearchFilter.PageSize',
                SortField: '@Model.SearchFilter.SortField',
                SortOrder: '@Model.SearchFilter.SortOrder',
                __RequestVerificationToken: getAntiForgeryToken()
            };
            successFilter = searchFilter;
        };

        function initializePaging() {
            $jq("#dvSearchType .input-page").change(function (event) {
                searchFilter = successFilter;
                searchFilter.PageNo = $jq(this).val();
                loadTypeList();
                return false;
            }).keypress(function (event) {
                return validateDigit(event);
            });

            $jq("#dvSearchType #pagesizelist").change(function (event) {
                searchFilter = successFilter;
                searchFilter.PageNo = "1";
                searchFilter.PageSize = $jq(this).val();
                loadTypeList();
                return false;
            });

            $jq('#dvSearchType .pagination ul li a').on('click', function (event) {
                searchFilter = successFilter;
                searchFilter.PageNo = getUrlParameter($jq(this).attr("href"), "page");
                loadTypeList();
                return false;
            });
        }

        function sortField(selectedSortField) {
            if (selectedSortField == searchFilter.SortField)
                searchFilter.SortOrder = (searchFilter.SortOrder == 'ASC') ? 'DESC' : 'ASC';
            else
                searchFilter.SortOrder = 'ASC';
            searchFilter.SortField = selectedSortField;
            searchFilter.PageNo = 1;
            loadTypeList();
        }
    </script>
}
