
@using CSM.Common.Resources
@using CSM.Common.Utilities
@using MvcPaging
@model CSM.Web.Models.QuestionGroupEditViewModel
@helper LabelForSort(string headerText, string fieldName, string sortField, string sortOrder)
{
    <a href="javascript:;" onclick="sortField('@fieldName');return false;">
        @headerText
        @if (fieldName.ToLower().Equals(sortField.ToLower()))
        {
            if (sortOrder.Equals("ASC"))
            {<i class="fa fa-sort-asc"></i>}
            else
            {<i class="fa fa-sort-desc"></i> }
        }
        else
        {<i class="fa fa-sort"></i>}
    </a>
}

<hr class="dashed-line clear" />

@if (Model.QuestionList == null || Model.SearchFilter.TotalRecords == 0)
{
    string sortField = Model.SearchFilter.SortField;
    string sortOrder = Model.SearchFilter.SortOrder;

    <div class="table-responsive margin-top-10">
        <table class="table table-hover datatable">
            <thead>
            <tr>
                <th></th>
                <th>คำถาม</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6" class="center">@Resource.Msg_NoRecords</td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    string sortField = Model.SearchFilter.SortField;
    string sortOrder = Model.SearchFilter.SortOrder;

    <div class="form-inline nopadding">
        <div class="form-group">
            @Html.Raw(Html.Pager(
                new Options
                {
                    PageSize = Model.SearchFilter.PageSize,
                    TotalItemCount = Model.SearchFilter.TotalRecords,
                    CurrentPage = Model.SearchFilter.PageNo,
                    ItemTexts = new ItemTexts
                    {
                        First = "<i class='fa fa-step-backward' style='font-size: 0.8em'></i>",
                        Previous = "<i class='fa fa-caret-left'></i>",
                        Next = "<i class='fa fa-caret-right'></i>",
                        Last = "<i class='fa fa-step-forward' style='font-size: 0.8em'></i>"
                    },
                    IsShowFirstLast = true,
                    CssClass = "pager",
                    IsShowInputPage = true
                },
                new { PageSize = ViewBag.PageSize }))
        </div>
        <div class="form-group">
            @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "15", 15 }, { "30", 30 } }, "Key", "Value"), new { @class = "form-control input-xs", id = "pagesizelist" })
        </div>
        <div class="form-group text-nowrap margin-left-8">
            <strong>
                @MvcHtmlString.Create(string.Format(Resource.Lbl_Paging, @Model.SearchFilter.FirstPageIndex, @Model.SearchFilter.LastPageIndex, @Model.SearchFilter.TotalRecords))
            </strong>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="table-responsive margin-top-10">
        <table class="table table-hover datatable">
            <thead>
            <tr>
                <th class="center" style="width: 50px !important;">
                    <input id="ckbAll" type="checkbox" onclick='onCkbAllClick()' />
                </th>
                <th>คำถาม</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.QuestionList)
                {
                    var updateName = item.UpdateUserName != null ? item.UpdateUserName.FullName : "";
                    <tr>
                        <td class="center">
                            <input type="checkbox" class="ckb" question_id="@item.QuestionId"
                                   name="@item.QuestionName"/>
                        </td>
                        <td>@item.QuestionName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script type="text/javascript">

    $jq(function () {
        $jq(".ckb").change(function () {
            var checkboxList = $jq(".ckb");
            for (var i = 0; i < checkboxList.length; i++) {
                if (!checkboxList[i].checked) {
                    $jq("#ckbAll")[0].checked = false;
                    return;
                }
            }

            $jq("#ckbAll")[0].checked = true;
        });
    });

    function onCkbAllClick() {
        $jq(".ckb").each(function () {
            $jq(this)[0].checked = $jq("#ckbAll")[0].checked;
        })
    }

</script>
