@using CSM.Entity
@using CSM.Common.Resources
@model CSM.Web.Models.SrViewModel
@{
    ViewBag.Title = Resource.Lbl_CustomerInformation;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainMenu
{
    @Html.Action("MainMenu", "MenuNavigator", new { selectedMenu = MenuCode.Customer })
}

@section Breadcrumb {
    <strong class="font-blue">@Resource.Lbl_Customer &rsaquo;&rsaquo;</strong>
    <strong class="font-blue">
        @Html.ActionLink(Resource.Lbl_SearchCustomer, "Search", "Customer", new { @skip = "1" }, new { @class = "font-blue" })
    </strong>
    <strong class="font-green-jungle">&rsaquo;&rsaquo; @Resource.Lbl_CustomerInformation </strong>
}

@if (Model != null)
{
    <div id="dvForm" class="form-box">
        <h5 class="form-title">@Resource.Lbl_CustomerInformation</h5>
        @Html.HiddenFor(model => model.CustomerInfo.CustomerId, new { @id = "hddCustomerId" })
        @if (Model.CustomerInfo != null)
        {
            Html.RenderPartial("~/Views/Customer/_CustomerInfo.cshtml", Model.CustomerInfo);
        }
        <div class="clearfix"></div>

        @Html.Action("CustomerTab", "MenuNavigator", new { selectedTab = CustomerTabCode.SR, customerId = @Model.CustomerInfo.CustomerId })

        <div class="clearfix"></div>
        <div class="pull-left padding-top-5">
            <button id="btnAddSR" type="button" class="btn btn-green btn-sm" onclick="initNewSR();">
                <i class="fa fa-plus"></i>&nbsp;New SR
            </button>
        </div>
        <div class="clear"></div>
        <div class="tab-content">
            <div id="tabSR" class="tab-pane fade in active">
                <div id="dvSearchResult">
                    @if (Model.SrList != null)
                    {
                        Html.RenderPartial("~/Views/SR/_CustomerSrList.cshtml", Model);
                    }
                </div>
            </div>
        </div>
    </div>
}
<div class="clearfix"></div>

<div id="dvTarget"></div>
@section masterjs
{
    <script type="text/javascript">
    var searchFilter;
    var successFilter;

    $jq(document).ready(function () {
        initializeSearchFilter();
        initializePaging();
        loadData();
    });

    function initializeSearchFilter() {
        searchFilter = {
            CustomerId: $jq("#hddCustomerId").val(),
            PageNo: '@Model.SearchFilter.PageNo',
            PageSize: '@Model.SearchFilter.PageSize',
            SortField: '@Model.SearchFilter.SortField',
            SortOrder: '@Model.SearchFilter.SortOrder'
        };
        successFilter = searchFilter;
    };

    function initializePaging() {
        $jq("#dvSearchResult .input-page").change(function (event) {
            searchFilter = successFilter;
            searchFilter.PageNo = $jq(this).val();
            loadData();
            return false;
        }).keypress(function (event) {
            return validateDigit(event);
        });

        $jq("#dvSearchResult #pagesizelist").change(function (event) {
            searchFilter = successFilter;
            searchFilter.PageNo = "1";
            searchFilter.PageSize = $jq(this).val();
            loadData();
            return false;
        });

        $jq('#dvSearchResult .pagination ul li a').on('click', function (event) {
            searchFilter = successFilter;
            searchFilter.PageNo = getUrlParameter($jq(this).attr("href"), "page");
            loadData();
            return false;
        });

        try{
            $jq("#tblSRList").tableHeadFixer({ "head": false, "left": 3 });
        }
        catch (e) { }
    };

    function loadData() {
        $jq.ajax({
            url: '@Url.Action("CustomerSrList", "SR")',
            type: "POST",
            data: addAntiForgeryToken(searchFilter),
            beforeSend: function () { $jq("#dvLoading").show(); },
            complete: function () { $jq("#dvLoading").hide(); },
            success: function (result) {
                if (result.Valid == null) {
                    $jq("#dvSearchResult").html('');
                    successFilter = searchFilter;
                    $jq("#dvSearchResult").html(result);
                    initializePaging();
                } else {
                    showServerErrors(result);
                }
            },
            error: function (xhr) {
                var handleMsg = '@CSM.Common.Resources.Resource.Error_System';
                ajaxErrorHandling(xhr, handleMsg, '@FormsAuthentication.LoginUrl', '@Url.Action("AccessDenied", "User")');
            }
        });

        return false;
    };

    function sortField(selectedSortField) {
        if (selectedSortField == searchFilter.SortField)
            searchFilter.SortOrder = (searchFilter.SortOrder == 'ASC') ? 'DESC' : 'ASC';
        else
            searchFilter.SortOrder = 'ASC';
        searchFilter.SortField = selectedSortField;
        searchFilter.PageNo = 1;
        loadData();
    }

    function initEditSR(srId) {
        var actionUrl = '@Url.Action("Edit", "ServiceRequest")';
            $jq('#dvTarget').html('');
            var inputSrId = $jq("<input>").attr("type", "hidden").attr("name", "SrId").val(srId);
            var inputToken = $jq("<input>").attr("type", "hidden").attr("name", "__RequestVerificationToken").val(getAntiForgeryToken());
            $jq('#dvTarget').append('<form action="' + actionUrl + '" method="POST" class="hidden" target="_blank"></form>');
            $jq('#dvTarget form').append($jq(inputToken));
            $jq('#dvTarget form').append($jq(inputSrId));
            $jq('#dvTarget form').submit();
        }

        function initNewSR() {
            var accountId = '';
            var contactId = '';
            var customerId = $jq('#hddCustomerId').val();
            var actionUrl = '@Url.Action("Create", "ServiceRequest")';
            $jq('#dvTarget').html('');
            var inputCustomerId = $jq("<input>").attr("type", "hidden").attr("name", "CustomerId").val(customerId);
            var inputAccountId = $jq("<input>").attr("type", "hidden").attr("name", "AccountId").val(accountId);
            var inputContactId = $jq("<input>").attr("type", "hidden").attr("name", "ContactId").val(contactId);
            var inputToken = $jq("<input>").attr("type", "hidden").attr("name", "__RequestVerificationToken").val(getAntiForgeryToken());
            $jq('#dvTarget').append('<form action="' + actionUrl + '" method="POST" class="hidden" target="_blank"></form>');
            $jq('#dvTarget form').append($jq(inputToken));
            $jq('#dvTarget form').append($jq(inputCustomerId));
            $jq('#dvTarget form').append($jq(inputAccountId));
            $jq('#dvTarget form').append($jq(inputContactId));
            $jq('#dvTarget form').submit();
        }
    </script>
}
