@model CSM.Web.Models.ConfigurationViewModel

<div id="icon-popover-2-content" class="hidden">
    <div>
        @Html.HiddenFor(model => model.PageIndexOfFont, new { @id = "hddPageIndexOfFont" })
        <table class="table">
            <tbody>               

                @foreach (var item in Model.FontList)
                {                   
                    <tr>

                        <td>
                            @if (!string.IsNullOrEmpty(item.Font_1))
                            {
                                <a href="javascript:;" class="btn btn-default btn-icon" onclick="selectedIcon('@item.Font_1');"><i class="@item.Font_1"></i></a>
                            }                           
                            
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Font_2))
                            {
                                <a href="javascript:;" class="btn btn-default btn-icon" onclick="selectedIcon('@item.Font_2');"><i class="@item.Font_2"></i></a>
                            }                           
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Font_3))
                            {
                                <a href="javascript:;" class="btn btn-default btn-icon" onclick="selectedIcon('@item.Font_3');"><i class="@item.Font_3"></i></a>
                            }                            
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Font_4))
                            {
                                <a href="javascript:;" class="btn btn-default btn-icon" onclick="selectedIcon('@item.Font_4');"><i class="@item.Font_4"></i></a>
                            }
                        </td>                                           
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<div id="icon-popover-2-title" class="hidden">    

    <div class="form-group">
        <div class="col-md-2">
            <a href="javascript:;" class="btn btn-primary" onclick="loadIconFontData('0');">
                <i class="fa fa-caret-left"></i>
            </a>
        </div>
        <div class="col-md-7 text-center">
            <p class="form-control-static">
                Choose Image
            </p>            
        </div>
        <div class="col-md-2">
            <a href="javascript:;" class="btn btn-primary" onclick="loadIconFontData('1');">
                <i class="fa fa-caret-right"></i>
            </a>
        </div>
    </div>
</div>